:root {
    --b: black;
    --w: white;
    --lt_transp:rgba(121, 121, 121, 0.5);
}

body {
    background-image: url(../picture/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--w);
    text-align: center;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.left-column,
.right-column {
    flex: 35%;
    padding: 20px;
    background: #3498db;
    color: var(--w);
    text-align: left;
}

.middle-column {
    flex: 60%;
    padding: 20px;
    background: #f1c40f;
    box-sizing: border-box;
}

h3 {
    color: var(--w);
    text-align: center;
}

#auswahl {
    width: 100%;
    display: block;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select,
input,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background-color: var(--w);
    background-position: right center;
    background-repeat: no-repeat;
    color: #333;
    padding-right: 25px;
}

select:hover {
    cursor: pointer;
}

#sendB {
    background: linear-gradient(45deg, #3498db, #2ecc71);
    color: var(--w);
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#sendB:hover {
    background: linear-gradient(45deg, #2ecc71, #3498db);
}

.result_box {
    padding-left: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 11px;
    background: var(--w);
    margin-top: 16px;
}

.auswahl_angaben p {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.5px;
}


.depLoc_outer_box {
    width: 100%;
    height: auto;
    background: var(--w);
    border-radius: 8px;
    padding: 10px;
    margin-left: -4%;
}

.depLoc_inner_box {
    width: 100%;
    color: black;
    text-align: center;
}

.depLoc_txt {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arrow {
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time_txt {
    margin-top: -10px;
    margin-bottom: -30px;
}

.cost_txt {
    margin-top: -2%;
}

.txt_name_time {
    text-align: left;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin-right: 34%;
    margin-left: -6%;
}

.lineTime {
    display: inline-block;
    width: 55%;
    height: 2px;
    padding: 1px;
    background: black;
    margin-bottom: 1px;
}

.line_start,
.line_end {
    display: inline-block;
    width: 2px;
    border: 2px black solid;
    background: white;
    padding: 1px;
}

.txt_name_cost_unl {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

.container_hotel {
    display: flex;
    align-items: flex-start;
    border: 3px solid #ddd;
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: normal;
}

.box_image {
    width: 35%;
}

.box_image img {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
}

.box_information {
    width: 100%;
}



.box_text {
    width: 100%;
    overflow: hidden;
}

.hotel_name {
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:5px;
    margin:1px;
    background:var(--lt_transp);
    border-radius: 0 3px 0 0;
}

.priceRating {
    padding:2px;
    text-decoration: underline;
    text-align: left;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--b);
}

.box_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.box_facilities_outer{
    width: 100%;
    padding:10px;
}
.box_facilities_inner{
    width: fit-content;
    padding:10px;
    color:black;
    border-radius: 11px;
    background:white;
}
.box_facilities_inner span{
    font-style: italic;
    text-decoration: underline;
    color:rgb(8, 0, 255);
    font-weight: 400;
    margin-right:4px;
}
.box_extra_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -40px;
    margin-right:5px;
}

.location_hotel{
    margin-bottom: 20px;
    margin-left: -45px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.star_hotel{}











#extras {
    scrollbar-width: none;
}

#upB,
#downB {
    background-color: #ff0000;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

#upB {
    display: none;
}

#upB:hover,
#downB:hover {
    background-color: #555;
}

footer {
    margin-top: 20px;
    width: auto;
    color: #333;
    background: white;
    border-radius: 11px;
    padding: 10px;
}

footer p {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}