:root {
    --b: black;
    --w: white;
    --charcoal: #264653;
    --saffron: #E9C46A;
    --burnt_sienna: #E76F51;
    --persian_gree: #2A9D8F;
    --sandy_brown: #F4A261;
    --lt_transp: rgba(121, 121, 121, 0.5);
    --yellow_orange: #fba603;
    --steel_blue: #4891a9;
    --silver_gray: #c1c3cf;
    --brick_red: #bc3b31;
    --pine_green: #3d5927;
}

html {
    scrollbar-width: none;
}

body {
    background-image: url(../picture/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--w);
    text-align: center;
    flex-direction: column;
    cursor: default;
}

/*-------------- Navigator ------------------*/
.main_header {
    width: 100%;
    position: sticky;
    background: var(--persian_gree);
    border-radius: 8px;
    margin-bottom: 4px;
}

.main_header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.main_header-list {
    flex: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2px;
}

.main_header-list a {
    flex: 12.5%;
}

.main_header-list_block {
    text-align: center;
    border: 2px solid var(--charcoal);
    border-radius: 8px;
    padding: 5px;
    margin: 8px;
}

.main_header-list_block p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.main_header-login_container {
    flex: 50%;
    justify-content: end;
    display: flex;
}

.login_box-fullLogin {
    width: 8%;
    margin-top: 6px;
    margin-right: 20px;
}

.login_box-fullLogin a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}

.fullLogin_user-img {
    padding: 5px;
}

.login_box-fullLogin img {
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.sign_up_txt-box {
    margin: 8px;
    padding: 5px;
    text-align: center;
    border: 2px solid var(--charcoal);
    border-radius: 8px;
}

.sign_up_txt-box p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    /* line-height: 30px; */
}

.sign_in_txt-box {
    margin: 8px;
    margin-right: 20px;
    padding: 5px;
    text-align: center;
    border: 2px solid var(--charcoal);
    border-radius: 8px;
}

.sign_in_txt-box p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    /* line-height: 30px; */
}

/*-------------------------------------------------*/





/*--------------- Main Container ---------------------*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}

.left-column,
.right-column {
    flex: 1 1 10%;
    padding: 20px;
    background: var(--pine_green);
    color: var(--w);
    text-align: left;
}

.right-column {
    background: var(--brick_red);
    padding: 10px;
}

.middle-column {
    flex: 60%;
    padding: 20px;
    background: var(--steel_blue);
    box-sizing: border-box;
}

/*-------------------------------------------------*/



/*---------------Middle Header ----------------------------*/
.middle_header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2px;
    margin-left: -10px;
    margin-right: -10px;
}

.middle_main a {
    text-decoration: none;
    color: var(--w);
}

.header_logo {
    width: 240px;
    margin: 2px;
}

.header_logo img {
    object-fit: cover;
    width: 100%;
}

.header_h {
    padding: 1px;
    margin: 1px;
    text-align: left;

}

.header_h h3 {
    margin: 0px;
    text-align: center;
    color: var(--w);
}

.ueberschrift_txt {
    font-weight: 800;
    color: var(--yellow_orange);
    font-size: 22px;
    letter-spacing: 1.2px;
}

/*-------------------------------------------------*/




#auswahl {
    width: 100%;
    display: block;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select,
input,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background-color: var(--w);
    background-position: right center;
    background-repeat: no-repeat;
    color: #333;
    padding-right: 25px;
}

select:hover {
    cursor: pointer;
}

#sendB {
    background: linear-gradient(45deg, #3498db, #2ecc71);
    color: var(--w);
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 50px;
}

#sendB:hover {
    background: linear-gradient(45deg, #2ecc71, #3498db);
}

.result_box {
    padding: 10px;
    border-radius: 11px;
    background: var(--sandy_brown);
    margin-top: 16px;
    width: fit-content;
}

#result {
    color: var(--charcoal);
    width: auto;
    font-size: 17px;
    font-weight: 600;
}

.auswahl_angaben p {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    letter-spacing: 0.5px;
}

/*-------------------------------------------------*/




/*---------------- Result Box Container -----------------*/
.depLoc_outer_container {
    width: 100%;
    height: auto;
    background: var(--charcoal);
    color: var(--silver_gray);
    border-radius: 8px;
    padding: 10px;
    margin-left: -4%;
}

.depLoc_inner_container {
    width: 100%;
    color: var(--w);
    text-align: center;
    display: flex;
    align-items: normal;
    justify-content: center;
    flex-direction: column;
}

.depLoc_box {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 1px;
    /* text-align: left; */
    align-items: center;
    justify-content: center;
}

.depLoc_txt_left {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--sandy_brown);
}

.depLoc_icon {
    width: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.depLoc_txt_right {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--yellow_orange)
}

.time_txt {
    margin-top: -10px;
    margin-bottom: -30px;
}

.cost_txt {
    margin-top: -2%;
}

.txt_name_time {
    text-align: left;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin-right: 25%;
    margin-left: -6%;
    color: var(--sandy_brown);
}

.lineTime {
    display: inline-block;
    width: 55%;
    height: 2px;
    padding: 1px;
    background: black;
    margin-bottom: 1px;
}

.line_start,
.line_end {
    display: inline-block;
    width: 2px;
    border: 2px black solid;
    background: white;
    padding: 1px;
}

.txt_name_cost_unl {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: var(--sandy_brown);
}

/*-------------------------------------------------*/




/*-------------- Hotel List Container -------------*/
.container_hotel {
    display: flex;
    align-items: flex-start;
    border: 3px solid var(--sandy_brown);
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: normal;
}

.box_image {
    width: 35%;
}

.box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
}

.box_information {
    width: 100%;
}



.box_text {
    width: 100%;
    overflow: hidden;
}

.hotel_name {
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 1px;
    /* background:var(--lt_transp); */
    border-radius: 0 3px 0 0;
    color: var(--brick_red);
}

.priceRating {
    padding: 2px;
    text-decoration: underline;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--b);
}

.box_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.box_facilities_outer {
    width: 100%;
    padding: 10px;
}

.box_facilities_inner {
    width: fit-content;
    padding: 10px;
    color: black;
    border-radius: 11px;
    background: white;
}

.box_facilities_inner span {
    font-style: italic;
    text-decoration: underline;
    color: rgb(8, 0, 255);
    font-weight: 400;
    margin-right: 4px;
}

.box_extra_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -40px;
    margin-right: 5px;
}

.location_hotel {
    margin-bottom: 20px;
    margin-left: -45px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

/*-------------------------------------------------*/





/*--------------- Rule List Container -----------------------*/
.rule_list_outer {
    background: var(--charcoal);
    padding: 10px;
    border-radius: 5px;
}

.rule_list_inner .line-break {
    background: var(--sandy_brown)
}

.rule_list_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rule_head {
    width: 100%;
    height: 30px;
    background: var(--burnt_sienna);
    padding-left: 5px;
    border-radius: 5px;
}

.rule_head_parag {
    font-size: 22px;
    font-weight: 750;
    letter-spacing: 0.7px;
    line-height: 26px;
    color: var(--charcoal);
    margin: 0px;
}

.rule_body {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.rule_body_item {
    width: 100%;
    border-radius: 8px;
    background: var(--pine_green);
    margin: 2px;

}

.rule_body_item_link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--yellow_orange);
}

.faq_item_head {
    padding: 5px;
}

.faq_item_head p {
    margin: 0px;
    padding: 2px;
    text-align: center;

}

.faq_item_body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--burnt_sienna);
    border: var(--charcoal) 3px solid;
}

.faq_item_body p {
    min-height: 250px;
    min-width: 450px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
    color: var(--charcoal);
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal:target {
    display: block;
}

.box-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: var(--saffron);
    text-decoration: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*-------------------------------------------------*/


.line-break {
    width: 100%;
    height: 2px;
    background: var(--charcoal);
    margin-top: 10px;
    margin-bottom: 10px;
}

#extras {
    scrollbar-width: none;
}

#upB,
#downB {
    background-color: var(--burnt_sienna);
    position: fixed;
    bottom: 40px;
    right: 30px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    transition: background-color 0.4s ease;
}

#upB {
    display: none;
}

#upB:hover,
#downB:hover {
    background-color: #555;
}

/*-------------------------------------------------*/




/*------------------Sign Up & In ------------------*/

.popupBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popupBox .blur {
    filter: blur(2px) brightness(.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0009;
}

.popup {
    position: relative;
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--pine_green);
}

/* .loginSwitcher {
    
} */

.popup form {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flipper_form {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipper_form.flip {
    transform: rotateY(180deg);
}

#regForm {
    transform: rotateY(180deg);
    background: #3d5927;
}

#logForm {
    background: #3d5927
}




.popup-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 10px;
}

.popup-close_button {
    color: var(--sandy_brown);
    line-height: 30px;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

/*-------------------------------------------------*/
footer {
    margin-top: 20px;
    width: auto;
    color: #333;
    background: white;
    border-radius: 11px;
    padding: 10px;
}

footer p {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}